//! **************************************************************************
// Written by: Map P.68d on Thu Mar 07 16:26:22 2019
//! **************************************************************************

SCHEMATIC START;
NET "clk_50M_BUFGP/IBUFG" BEL "clk_50M_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

