

NET "clk" LOC = T9;
NET "clk" IOSTANDARD = LVCMOS33;
NET "sw" LOC = M14;
NET "sw" IOSTANDARD = LVCMOS33;
NET "sw_debounce" LOC = D6;
NET "sw_debounce" IOSTANDARD = LVCMOS33;
NET "sw_out" LOC = D7;
NET "sw_out" IOSTANDARD = LVCMOS33;


NET "reset" LOC = M13;
NET "reset" IOSTANDARD = LVCMOS33;
